.App {
    text-align: left;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.App-functionality {
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-new-item, .App-cart {
    text-align: center;
    margin: 20px;
}

.App-new-item a {
    color: black;
}

.App-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.App-wrapper span{
    padding: 20px;
    color: black;
}

