.App-cart {
    padding: 0 10px;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.App-cart-item {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.cart-item-price, .cart-item-quantity {
    padding: 10px;
}